<!-- templates/video_detail.html -->
{% extends 'layout.html' %}

{% block content %}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .vid-wrapper {
        width: 100%;
        height: 100%;
        padding: 1rem 18rem;
        display: flex;
        gap: 1rem;
    }

    .left-side {
        width: 70%;
    }

    .vid-container {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }

    .vid-container iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    .vid-bg-black {
        /* background: #f1f1f1; */
        border-radius: 1.5rem;
        padding: 1rem;
    }

    .video-details {
        padding: 1rem;
    }

    .right-side {
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        border-radius: 1rem;
    }

    .video-list-card {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .video-list-card a {
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        text-decoration: none;
        position: relative;
        width: 90%;
        padding: .5rem;
        transition: all 150ms ease-in;
    }

    .video-list-card a:hover {
        background: #f1f1;
    }

    .video-list-card a div:first-child {
        aspect-ratio: 16 / 9;
        /* width: 190px;
        height: 140px; */
        margin-right: 1rem;
    }

    .video-list-card a div:last-child {
        width: 72%;
        height: 100%;
    }

    .video-list-card iframe {
        width: 190px;
        height: 140px;
        /* aspect-ratio: 16 / 9; */
        object-fit: cover;
        border-radius: .5rem;
    }
    
    #service-description {
        overflow: hidden;
    }

    #service-description .description-lines {
        max-height: 3.6em; /* Adjust the height to fit two lines */
        overflow: hidden;
        transition: max-height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    #service-description:not(.expanded) .description-lines {
        max-height: 3.6em;
    }

    #service-description.expanded .description-lines {
        max-height: 100vh; /* Adjust the value as needed for full expansion */
    }

    #service-description.expanded .down-ward-icon {
        animation: rotateIcon 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    }

    @keyframes rotateIcon {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(180deg);
        }
    }

    #no-description-message {
        display: none;
        text-align: center;
        margin-top: 10px;
    }

    #service-description:not(.expanded) #no-description-message {
        display: block;
    
    
    }

    #service-description .link-svg {
        transition: all 0.3s ease-in-out;
    }
    
    #service-description:hover .link-svg {
        color: blueviolet;
    }


</style>


<div class="vid-wrapper py-8">
    <!-- Left Side (Main Video) -->
    <div class="left-side">
        <div class="vid-bg-black">
            <div class="vid-container rounded-md">
                {{ video.embed_code|safe }}
            </div>
            <div class="video-details">
                <h1 class="text-2xl font-bold leading-tight tracking-tight md:text-2xl md:leading-tight flex items-center gap-3 text-gray-900 dark:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                        <path fill-rule="evenodd" d="M11.914 4.086a2 2 0 0 0-2.828 0l-5 5a2 2 0 1 0 2.828 2.828l.556-.555a.75.75 0 0 1 1.06 1.06l-.555.556a3.5 3.5 0 0 1-4.95-4.95l5-5a3.5 3.5 0 0 1 4.95 4.95l-1.972 1.972a2.125 2.125 0 0 1-3.006-3.005L9.97 4.97a.75.75 0 1 1 1.06 1.06L9.058 8.003a.625.625 0 0 0 .884.883l1.972-1.972a2 2 0 0 0 0-2.828Z" clip-rule="evenodd" />
                      </svg>
                      
                    <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-900 from-blue-400">
                        {{ video.title }}</span>
                    </h1>

                    <p class="text-blue-500 underline-none mr-3 transition-all duration-300 text-md my-2 dark:text-blue-400">{{ video.tags }}</p>

                <div class="flex justify-between items-center w-full  rounded-md">
                    <div class="rounded-md flex">
                        <div class="left">
                            <a href="#!" class="hover:opacity-75 transition-all duration-300 w-[3rem] h-[3rem] rounded-full">
                                <img class="mr-2 w-[3rem] h-[3rem] transition-all duration-300 object-fit rounded-full ring-offset-2 ring-2 ring-[orange] hover:ring-2 hover:ring-blue-500"
                                src="{{ video.channel_thumbnail }}" alt="{{ video.channel_name }}">
                            </a>
                        </div>
                        <div class="right flex flex-col justify-center px-4">
                            <a href="#!" class="text-sm flex transition-all duration-300 hover:text-blue-500 text-black font-bold dark:text-black">{{ video.channel_name }}</a>
                            <p class="text-[.88rem] flex items-center text-gray-500 font-md dark:text-black">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                viewBox="0 0 16 16" fill="currentColor" class="w-3 h-3 mr-1">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                              </svg>
                               {{ video.uploader }}</p>
                            <p class="text-[.88rem] flex items-center text-gray-400 font-md dark:text-black">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-3 h-3 mr-1">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Zm7.75-4.25a.75.75 0 0 0-1.5 0V8c0 .414.336.75.75.75h3.25a.75.75 0 0 0 0-1.5h-2.5v-3.5Z" clip-rule="evenodd" />
                                  </svg>
                                  {{ video.uploaded_at }}</p>
                        </div>
                    </div>
                    
                    <div class="rounded-md flex py-2 my-6 items-center justify-center gap-3">
                        <div class="video-tab flex items-center rounded-full bg-gray-100 overflow-hidden">
                            <a href="#!" class="hover:opacity-75 gap-2 px-3 py-1.5 border border-gray-400 border-t-0 border-l-0 border-r-1 text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 border-b-0 flex items-center hover:bg-gray-300 transition-all duration-300">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                                    <path d="M2.09 15a1 1 0 0 0 1-1V8a1 1 0 1 0-2 0v6a1 1 0 0 0 1 1ZM5.765 13H4.09V8c.663 0 1.218-.466 1.556-1.037a4.02 4.02 0 0 1 1.358-1.377c.478-.292.907-.706.989-1.26V4.32a9.03 9.03 0 0 0 0-2.642c-.028-.194.048-.394.224-.479A2 2 0 0 1 11.09 3c0 .812-.08 1.605-.235 2.371a.521.521 0 0 0 .502.629h1.733c1.104 0 2.01.898 1.901 1.997a19.831 19.831 0 0 1-1.081 4.788c-.27.747-.998 1.215-1.793 1.215H9.414c-.215 0-.428-.035-.632-.103l-2.384-.794A2.002 2.002 0 0 0 5.765 13Z" />
                                  </svg>
                                  {{ video.likes }}
                            </a>

                            <a href="#!" class="hover:opacity-75  gap-2 px-3 py-1.5 flex items-center hover:bg-gray-300 transition-all duration-300">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                                    <path d="M10.325 3H12v5c-.663 0-1.219.466-1.557 1.037a4.02 4.02 0 0 1-1.357 1.377c-.478.292-.907.706-.989 1.26v.005a9.031 9.031 0 0 0 0 2.642c.028.194-.048.394-.224.479A2 2 0 0 1 5 13c0-.812.08-1.605.234-2.371a.521.521 0 0 0-.5-.629H3C1.896 10 .99 9.102 1.1 8.003A19.827 19.827 0 0 1 2.18 3.215C2.45 2.469 3.178 2 3.973 2h2.703a2 2 0 0 1 .632.103l2.384.794a2 2 0 0 0 .633.103ZM14 2a1 1 0 0 0-1 1v6a1 1 0 1 0 2 0V3a1 1 0 0 0-1-1Z" />
                                  </svg>
                                  
                                  {{ video.disLikes }}
                            </a>
                        </div>

                        <div class="video-tab flex items-center rounded-full bg-gray-100 overflow-hidden">
                            <a href="#!" class="hover:opacity-75 gap-2 px-3 py-1.5 flex items-center hover:bg-gray-300 transition-all duration-300">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                                    <path d="M12 6a2 2 0 1 0-1.994-1.842L5.323 6.5a2 2 0 1 0 0 3l4.683 2.342a2 2 0 1 0 .67-1.342L5.995 8.158a2.03 2.03 0 0 0 0-.316L10.677 5.5c.353.311.816.5 1.323.5Z" />
                                  </svg>
                                  
                                  {{ video.shares }}
                                  Shares
                            </a>
                        </div>

                        <div class="video-tab  flex items-center rounded-full bg-gray-100 overflow-hidden">
                            <a href="#!" class="hover:opacity-75 gap-2 px-3 py-1.5 flex items-center hover:bg-gray-300 transition-all duration-300">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                    <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0 1 12 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 0 1-3.476.383.39.39 0 0 0-.297.17l-2.755 4.133a.75.75 0 0 1-1.248 0l-2.755-4.133a.39.39 0 0 0-.297-.17 48.9 48.9 0 0 1-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97ZM6.75 8.25a.75.75 0 0 1 .75-.75h9a.75.75 0 0 1 0 1.5h-9a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H7.5Z" clip-rule="evenodd" />
                                  </svg>
                                  
                                  {{ video.comments }}
                                  Comments
                            </a>
                        </div>

                        <div class="video-tab flex items-center rounded-full bg-slate-100 overflow-hidden">
                            <a href="#!" class="hover:opacity-75 gap-2 px-3 py-1.5 flex items-center hover:bg-gray-300 transition-all duration-300">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                                    <path d="M8.75 2.75a.75.75 0 0 0-1.5 0v5.69L5.03 6.22a.75.75 0 0 0-1.06 1.06l3.5 3.5a.75.75 0 0 0 1.06 0l3.5-3.5a.75.75 0 0 0-1.06-1.06L8.75 8.44V2.75Z" />
                                    <path d="M3.5 9.75a.75.75 0 0 0-1.5 0v1.5A2.75 2.75 0 0 0 4.75 14h6.5A2.75 2.75 0 0 0 14 11.25v-1.5a.75.75 0 0 0-1.5 0v1.5c0 .69-.56 1.25-1.25 1.25h-6.5c-.69 0-1.25-.56-1.25-1.25v-1.5Z" />
                                  </svg>                                 
                                  {{ video.comments }}
                                  Downloads
                            </a>
                        </div>
                    </div>

                    
                </div>

            </div>
        </div>

        {% if video.descriptionHeading and video.description %}
        <section id="service-description"
            class="bg-slate-100 hover:bg-slate-200 transition-all duration-300 dark:bg-gray-900 rounded-md py-2 antialiased text-gray-800">
            <div class="max-w-full mx-auto px-4 p-2">
                <h1 class="mb-3 text-lg text-gray-800 flex items-center gap-3 font-bold md:text-xl dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 link-svg">
                        <path fill-rule="evenodd"
                            d="M8.914 6.025a.75.75 0 0 1 1.06 0 3.5 3.5 0 0 1 0 4.95l-2 2a3.5 3.5 0 0 1-5.396-4.402.75.75 0 0 1 1.251.827 2 2 0 0 0 3.085 2.514l2-2a2 2 0 0 0 0-2.828.75.75 0 0 1 0-1.06Z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M7.086 9.975a.75.75 0 0 1-1.06 0 3.5 3.5 0 0 1 0-4.95l2-2a3.5 3.5 0 0 1 5.396 4.402.75.75 0 0 1-1.251-.827 2 2 0 0 0-3.085-2.514l-2 2a2 2 0 0 0 0 2.828.75.75 0 0 1 0 1.06Z"
                            clip-rule="evenodd" />
                    </svg>
                    {{ video.descriptionHeading }}
                </h1>
                <p class="text-gray-500 dark:text-gray-400 description-lines transition-all duration-300 ">
                    {{ video.description }}
                </p>
            </div>
            <div class="down-ward-icon flex justify-center items-center p-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                    class="w-6 h-6 dark:text-gray-400 text-gray-500 hover:bg-slate-700 hover:text-white rounded-full transition-all duration-300">
                    <path fill-rule="evenodd"
                        d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                        clip-rule="evenodd" />
                </svg>
            </div>
        </section>
        {% else %}
        <section id="service-description"
            class="bg-slate-100 hover:bg-slate-200 transition-all duration-300 dark:bg-gray-900 rounded-md py-2 antialiased text-gray-800">
            <div class="max-w-full mx-auto px-4 p-2">
                <h1 class="mb-3 text-lg text-gray-800 flex items-center gap-3 font-bold md:text-xl dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 link-svg">
                        <path fill-rule="evenodd"
                            d="M8.914 6.025a.75.75 0 0 1 1.06 0 3.5 3.5 0 0 1 0 4.95l-2 2a3.5 3.5 0 0 1-5.396-4.402.75.75 0 0 1 1.251.827 2 2 0 0 0 3.085 2.514l2-2a2 2 0 0 0 0-2.828.75.75 0 0 1 0-1.06Z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M7.086 9.975a.75.75 0 0 1-1.06 0 3.5 3.5 0 0 1 0-4.95l2-2a3.5 3.5 0 0 1 5.396 4.402.75.75 0 0 1-1.251-.827 2 2 0 0 0-3.085-2.514l-2 2a2 2 0 0 0 0 2.828.75.75 0 0 1 0 1.06Z"
                            clip-rule="evenodd" />
                    </svg>
                    No description available for this content!
                </h1>
            </div>
        </section>
        {% endif %}

    
        <section class="bg-white dark:bg-gray-900 py-4 antialiased mt-2 text-gray-800">
            <div class="divider my-8 w-[15rem] rounded-full mx-auto h-px bg-gray-300 dark:bg-gray-700"></div>
            <div class="max-w-full mx-auto px-4">

                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
                        Comments ({{ comments.count }})</h2>
                </div>
                        {% if user.is_authenticated %}
                        <form method="post" class="mb-6">
                            {% csrf_token %}
                            <div class="py-2 mb-4 bg-white rounded-lg rounded-t-lg dark:bg-gray-800 dark:border-gray-700">
                                {{ form.comment }}
                                <input type="hidden" name="comment_id" value="{{ form.instance.id }}">
                            </div>
                            <button type="submit"
                                class="bg-gray-600 py-2.5 px-4 text-xs font-medium text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                                Post Comment
                            </button>
                        </form>
                        {% else %}
                        <p class="text-1xl text-gray-500 dark:text-gray-400 mb-4">Please log in to comment.</p>
                        {% endif %}



                <!-- Display Comments -->
                {% if comments %}
                    {% for comment in comments %}
                    <article class="p-2 bg-gray-100 text-base relative my-2 rounded-lg dark:bg-gray-900">
                        <footer class="flex justify-between items-center mb-2">
                            <div class="flex justify-start items-center mb-2 relative">
                                <img class="mr-2 w-[2.8rem] h-[2.8rem] rounded-full ring-offset-2 ring-2 hover:opacity-75 transition-all duration-300 object-fit ring hover:ring-[orange] rounded-full"
                                    src="https://i.ibb.co/HNz2yTZ/pexels-nina-hill-13870591.jpg"
                                    alt="{{ comment.user.username }}">
                                <div class="flex flex-col justify-center items-start ml-2">
                                    <div class="flex items-start">
                                        <p class="text-sm text-black font-bold dark:text-black">@{{ comment.user.username }}
                                        </p>
                                        <p class="text-sm ml-4 text-gray-600 dark:text-gray-400">
                                            <time pubdate datetime="{{ comment.created_at }}"
                                                title="{{ comment.created_at|date:'F j, Y' }}">
                                                {{ comment.created_at|date:'M. j, Y' }}
                                            </time>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-gray-500 dark:text-gray-400">{{ comment.comments }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown inline-block absolute right-3 top-4">
                                {% if comment.user == request.user %}

                                <!-- Dropdown menu -->
                                <div id="dropdownComment{{ comment.id }}"
                                    class="hidden z-10 transition-all duration-300 absolute right-8 top-8 p-1 py-2 px-3 rounded bg-white rounded-md divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200 flex justify-start items-center">
                                        <li>
                                            <a href="#" onclick="showEditForm('{{ comment.id }}', '{{ comment.user.id }}', '{{ comment.comments }}')" type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                                </svg>
                                                
                                                <span class="sr-only">Edit</span>
                                                </a>
                                        </li>

                                        <li>
                                            <a href="{% url 'veapp:delete_comment' comment.id %}" type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-3 h-3">
                                                    <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
                                                </svg>
                                                
                                                <span class="sr-only">Delete</span>
                                                </a>
                                        </li>

                                    
                                        <!-- <li>
                                            <form method="post">
                                                {% csrf_token %}
                                                {{ edit_comment_form.edited_comment }}
                                                <input type="hidden" name="comment_id" id="edit_comment_id" value="">
                                                <input type="hidden" name="user_id" id="edit_user_id" value="">
                                                <button type="submit" class="bg-gray-600 py-2.5 px-4 text-xs font-medium text-white rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                                                    Save changes
                                                </button>
                                            </form>
                                        </li> -->
                                    </ul>
                                </div>

                                <button id="dropdownComment{{ comment.id }}Button"
                                    data-dropdown-toggle="dropdownComment{{ comment.id }}"
                                    class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                    type="button" onclick="toggleDropdown('dropdownComment{{ comment.id }}')">
                                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor" viewBox="0 0 16 3">
                                        <path
                                            d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                                    </svg>
                                    <span class="sr-only">Comment settings</span>
                                </button>
                                {% endif %}
                            </div>


                        </footer>
                    </article>
                    {% endfor %}
                {% else %}
                    <p class="text-gray-500 dark:text-gray-400">Be the first to comment now!</p>
                {% endif %}
            </div>
        </section>

    </div>

    <!-- Right Side (List of Other Videos) -->
    <div class="right-side">
        <h2 class="text-2xl font-semibold font-bebas mb-8">Other Videos</h2>
        {% for vid in all_videos %}
        <div class="video-list-card">
            <a href="{% url 'veapp:video_detail' vid.id %}">
                <div>
                    {{ vid.embed_code|safe }}
                </div>
                <div>
                    <h2 class="text-1xl font-semibold">{{ vid.title }}</h2>
                    <p>Uploaded by: {{ vid.uploader }}</p>
                    <p>Uploaded at: {{ vid.uploaded_at }}</p>
                    <p>Likes: {{ vid.likes }} | Shares: {{ vid.shares }} | Comments: {{ vid.comments }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


<script>
    
    
    
    document.addEventListener('DOMContentLoaded', function () {
        const descriptionSection = document.querySelector('#service-description');
        const downwardIcon = document.querySelector('#service-description .down-ward-icon svg');

        downwardIcon.addEventListener('click', function () {
            descriptionSection.classList.toggle('expanded');
        });
    });


    function toggleDropdown(dropdownId) {
        var dropdown = document.getElementById(dropdownId);
        dropdown.classList.toggle('hidden');
    }


    function showEditForm(commentId, userId, commentText) {
        // Set the values in the edit_comment_form
        document.getElementById('edit_comment_id').value = commentId;
        document.getElementById('edit_user_id').value = userId;
        document.getElementById('edit_comment').value = commentText;

        // Show the dropdown
        document.getElementById('dropdownComment' + commentId).classList.toggle('hidden');
    }
</script>

{% endblock %}